@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
}

header {
  color: #ffffff;
  padding: 75px 50px;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 75px 50px 25px 50px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.scrolled-navbar {
  padding: 25px 50px 25px 50px;
  background-color: #e600ff;
}

header nav #hamburger {
  display: none;
}

#menu-mobile-header {
  display: none;
}

header ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

header li {
  cursor: pointer;
  position: relative;
  padding: 0 5px;
}

header li::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: 0.3s;
}

header li:hover::after {
  transform: scaleX(1);
}

#hero-img {
  background-image: url("/images/desktop/image-hero.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  filter: brightness(50%);
  z-index: -1;
  background-repeat: no-repeat;
}

header h1 {
  margin-top: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 5rem;
  border: 2px solid #fff;
  width: 700px;
  padding: 30px;
}

main {
  padding: 150px 50px 0 50px;
}

section#leader {
  position: relative;
}

div#leader-img {
  width: 731px;
  height: 500px;
  background-image: url("/images/desktop/image-interactive.jpg");
}

div#leader-description {
  position: absolute;
  bottom: 0;
  width: 50%;
  background-color: #ffffff;
  right: 0;
  padding-top: 100px;
  padding-left: 110px;
  padding-bottom: 10px;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 3rem;
}

div#leader-description p {
  opacity: 70%;
  line-height: 25px;
}

section#creations .creations-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

section#creations h2 {
  margin-bottom: 0;
}

section#creations button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid black;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.5s;
}

section#creations button:hover {
  background-color: black;
  color: #ffffff;
}

section#creations .creations-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 450px);
  gap: 40px;
}

section#creations .creations-items .item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  background-size: cover;
}

section#creations .creations-items .item-1 {
  background-image: url("/images/desktop/image-deep-earth.jpg");
}

section#creations .creations-items .item-2 {
  background-image: url("/images/desktop/image-night-arcade.jpg");
}

section#creations .creations-items .item-3 {
  background-image: url("/images/desktop/image-soccer-team.jpg");
}

section#creations .creations-items .item-4 {
  background-image: url("/images/desktop/image-grid.jpg");
}

section#creations .creations-items .item-5 {
  background-image: url("/images/desktop/image-from-above.jpg");
}

section#creations .creations-items .item-6 {
  background-image: url("/images/desktop/image-pocket-borealis.jpg");
}

section#creations .creations-items .item-7 {
  background-image: url("/images/desktop/image-curiosity.jpg");
}

section#creations .creations-items .item-8 {
  background-image: url("/images/desktop/image-fisheye.jpg");
}

section#creations .creations-items .item div {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
  padding: 0 0 40px 40px;
  box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column-reverse;
  transition: 0.5s;
}

section#creations .creations-items .item:hover > div {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  color: black;
  font-weight: 400;
}

footer {
  background-color: black;
  color: #fff;
  margin-top: 150px;
  padding: 30px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "top-left top-right"
    "bot-left bot-right"
    "attr attr";
  row-gap: 30px;
}

#top-left {
  grid-area: top-left;
}

#top-right {
  grid-area: top-right;
  justify-self: self-end;
  display: flex;
  gap: 20px;
  align-items: center;
  grid-area: top-right;
}

#bot-left {
  grid-area: bot-left;
}

#bot-right {
  grid-area: bot-right;
  justify-self: self-end;
}

#top-right .social svg:hover {
  color: #cb5cff;
  cursor: pointer;
}

#bot-left ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

#bot-left ul li {
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}

#bot-left ul li::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: 0.3s;
}

#bot-left ul li:hover::after {
  transform: scaleX(1);
}

#bot-right p {
  color: hsl(0, 0%, 41%);
}

.attribution {
  grid-area: attr;
  color: hsl(0, 0%, 41%);
  text-align: center;
}
